/* loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  position: relative;
  border: 2px solid #f1ef5b;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
.loader::after {
  content: '';

  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid #1a88a3;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader.is-hidden {
  display: none;
}
